In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Pranay@9671610",
    database="pdfextraction"
)
conn.autocommit = True
cursor = conn.cursor()
conn.commit()

def create_tables():
    # creating the table
    sql = """
        CREATE TABLE IF NOT EXISTS invoice (
            `Invoice date` VARCHAR(255),
            `Invoice number` VARCHAR(255),
            `Bill to` VARCHAR(255),
            `Ship Via` VARCHAR(255),
            `Ship to` VARCHAR(255),
            `Remit to` VARCHAR(255),
            `Items` VARCHAR(255),
            `Total Amount` VARCHAR(255),
            `Balance Due` VARCHAR(255),
            `Ref number` VARCHAR(255)
        );
        """
    cursor.execute(sql)

    sql = """
        CREATE TABLE IF NOT EXISTS bol(
        `BOL Number` VARCHAR(255),
        `Shipper` VARCHAR(255),
        `B/L Number` VARCHAR(255),
        `S/W Number` VARCHAR(255),
        `Order Number` VARCHAR(255),
        `Order Date` VARCHAR(255),
        `Ship Date` VARCHAR(255),
        `Cust P/O Number` VARCHAR(255),
        `Ship To` VARCHAR(255),
        `Sold To` VARCHAR(255),
        `Ship Via` VARCHAR(255),
        `F.O.B` VARCHAR(255),
        `Trailer No` VARCHAR(255),
        `Seal No` VARCHAR(255),
        `Delivery Address Po` VARCHAR(255),
        `total quantity` VARCHAR(255),
        `cubes` VARCHAR(255),
        `Total weight` VARCHAR(255),
        `tare weight` VARCHAR(255),
        `Gross Weight` VARCHAR(255),
        `Time In` VARCHAR(255),
        `Time Out` VARCHAR(255),
        `Date` VARCHAR(255),
        `Agent Date` VARCHAR(255)
        );
        """
    cursor.execute(sql)

create_tables()